.grid {
  color: white;
  display: grid;
  gap: 5px;
  /* grid-template-columns: repeat(5, minmax(max-content, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: #2ecc71;
}

.item:nth-child(even) {
  background-color: #4e4e4e;
}
