.parent {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}

.child {
  width: 400px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
