.parent {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-content: center;
}

.child {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: #000;
  /* flex-shrink: 2; */
  flex-grow: 1;
}
